#grid {
    border: 1px solid black;
    border-collapse: collapse;
}

#grid tr, #grid td {
    border: 1px solid black;
}

#sprite-dino {
	background: url('imgs/dinoidle.png') no-repeat -8px -35px;
  width: 100px;
	height: 100px;
}

#sprite-santa {
	background: url('imgs/santaidle.png') no-repeat -205px -40px;
  width: 100px;
	height: 100px;
}
